#
# for Linux
#
core
*.o
*~
.*~
a.out
string1
#
# for Mac
#
.DS_Store
build/
*.xcodeproj/*
!project.pbxproj
*.xcuserdatad/
DerivedData/
#
# for Windows
#
.vs/
/Debug/
/Release/
/x64/
/ipch/
/packages/
Thumbs.db
*.ncb
*.suo
*.vcproj.*.*.user
*.sdf
*.opensdf
*.VC.VC.opendb
*.VC.db
*.com
*.exe
*.dll
!freeglut.dll
!glew32.dll
#
# another stuff
#
*.bak
